header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header_container{
    text-align: center;
    height: 100%;
    position: relative;
}

/* ----------------CTA ---------------- */
.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ----------------Socials ---------------- */
.header_socials{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header_socials::after{
    content: '';
    width: 1px;
    height: 2rem;    
    background: var(--color-primary);
}

/* ----------------ME ---------------- */
/* .me{
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 22rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
} */

img{
    margin-top: 2rem;
    width: 20rem;
    height: 20rem;
    border-radius: 10rem ; 
    left: calc(50% - 10rem)   
}

.scroll_down{
    position: absolute;
    bottom: 5rem;
    right: -2.3rem;
    transform: rotate(90deg);
    font-size: 1rem;
    font-weight: 300;
}

/*  ----------------- media queries (medium devices) --------------------*/
@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }

    section {
        margin-top: 6rem;
    }
}

/*  ----------------- media queries (small devices) --------------------*/
@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .header_socials, .scroll_down{
        display: none;
    }
}